version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    assignees:
      - "bobeal"
    target-branch: "develop"
    open-pull-requests-limit: 10
    groups:
      nifi:
        patterns:
          - "org.apache.nifi*"
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "bobeal"
